= jqm_header do
  %h1= current_user.email
  =link_to t('buttons.sign_out'), destroy_user_session_path, :class => "ui-btn-right", :'data-ajax' => false

= jqm_content do
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'validate' }) do |f|
    = render "shared/error_messages", :target => resource
    %div{ :'data-role' => "fieldcontain" }
      = f.email_field :email, :placeholder => User.human_attribute_name("email"), :class => "required"
      = f.password_field :password, :placeholder => User.human_attribute_name("password")
      = f.password_field :password_confirmation, :placeholder => User.human_attribute_name("password_confirmation")
      = f.password_field :current_password, :placeholder => User.human_attribute_name("current_password"), :class => "required"

    %div{ :'data-role' => "fieldcontain" }
      = f.label :locale
      = f.select :locale, options_for_select(locale_selection, I18n.locale)

    %div{ :'data-role' => 'fieldcontain' }
      %fieldset{ :'data-role' => 'controlgroup', :'data-type' => 'horizontal' }
        %legend= t('helpers.label.user.volume')
        - Volume.all.each do |volume|
          = f.radio_button :volume_id, volume.id, :id => dom_id(volume), :checked => (volume.id == current_user.volume_id)
          = label_tag dom_id(volume), volume.name

    = f.submit t('buttons.update')

= jqm_footer(:my_info)
