= jqm_header do
  %h1 Create Account

= jqm_content do
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validations => true) do |f|
    = render "shared/error_messages", :target => resource
    = f.email_field :email, :placeholder => "Email"
    = f.password_field :password, :placeholder => "Password"
    = f.password_field :password_confirmation, :placeholder => "Repeat"
    = f.submit "Sign Up"