= form_for refueling, :validations => true do |f|
  = render "shared/error_messages", :target => refueling

  %div{ :'data-role' => "fieldcontain" }
    = f.label :date
    = f.date_select :date, {:start_year => Date.current.year - 1, :end_year => Date.current.year + 1, :order => [:day, :month, :year]}, {:'data-native-menu' => true}

  %div{ :'data-role' => "fieldcontain" }
    = f.number_field :mileage, :placeholder => "Mileage"
    = f.number_field :liter, :placeholder => "Liters"
    = f.number_field :amount, :placeholder => "Amount"
    - if current_user.cars.size > 1
      = f.collection_select :car_id, current_user.cars, :id, :brand, {}, {:'data-native-menu' => true}
    - else
      = hidden_field_tag "refueling[car_id]", current_user.cars.first.id

  = f.submit 'Save'