= jqm_header do
  %h1 New refueling

= jqm_content do
  = render 'form', :refueling => @refueling

%div{ :'data-role' => "footer" }
  %div{ :'data-role' => "navbar" }
    %ul
      %li= link_to @car.brand, @car
      %li= link_to "Refuelings", car_refuelings_path(@car)
      %li= link_to "New refueling", new_car_refueling_path(@car), :class => "ui-btn-active"