= jqm_header(:'data-backbtn' => false) do
  %h1 New refueling

= jqm_content do
  = render 'form', :refueling => @refueling

%div{ :'data-role' => 'footer', :'data-position' => "fixed" }
  %div{ :'data-role' => 'navbar' }
    %ul
      %li= link_to('Refueling', new_refueling_path, :class => "ui-btn-active", :'data-ajax' => false)
      %li= link_to('Cars', cars_path, :'data-ajax' => false)
      %li= link_to('My Info', edit_user_registration_path, :'data-ajax' => false)