= jqm_header(:'data-backbtn' => false) do
  %h1= @refueling.date
  = link_to 'Edit', edit_refueling_path(@refueling), :class => "ui-btn-right"

= jqm_content do
  %dl
    %dt Date
    %dd= l(@refueling.date.to_date)
    %dt Liters
    %dd= number_with_precision(@refueling.liter, :precision => 2)
    %dt Amount
    %dd= number_to_currency(@refueling.amount)
    %dt Mileage
    %dd= number_with_delimiter(@refueling.mileage)
    
%div{ :'data-role' => 'footer', :'data-position' => "fixed" }
  %div{ :'data-role' => 'navbar' }
    %ul
      %li= link_to('Refueling', new_refueling_path, :class => "ui-btn-active", :'data-ajax' => false)
      %li= link_to('Cars', cars_path, :'data-ajax' => false)
      %li= link_to('My Info', edit_user_registration_path, :'data-transition' => "none")