= jqm_header(:'data-backbtn' => params[:backbtn]) do
  %h1= "#{@refueling}"
  = link_to t('buttons.edit'), edit_refueling_path(@refueling), :class => "ui-btn-right"

= jqm_content do
  .refueling-summary
    %ul{ :'data-role' => "listview", :'data-inset' => "true" }
      %li
        = Refueling.human_attribute_name("date")
        .ui-li-aside= l(@refueling.date.to_date, :format => :traditional)
      %li
        = Refueling.human_attribute_name("liter")
        .ui-li-aside= number_with_precision(@refueling.liter, :precision => 2)
      %li
        = Refueling.human_attribute_name("amount")
        .ui-li-aside= number_to_currency(@refueling.amount)
      %li
        = Refueling.human_attribute_name("mileage")
        .ui-li-aside= "#{number_with_delimiter(@refueling.mileage)} #{current_user.mileage.unit}"

= jqm_footer(:cars)