%li
  %h3= link_to "#{car}", car
  - if car.last_refueling
    %p
      %strong= fuel_efficiency(car)
      = "-"
      = fuel_consumption(car)
      = link_to 'Refuelings', car_refuelings_path(car), :'data-icon' => 'jqmofuel-fuel-station'

    %p.ui-li-aside= refueling_ago_in_words(car.last_refueling)