%li
  = Car.human_name
  .ui-li-aside= "#{car}"

- if car.fuel
  %li
    = Car.human_attribute_name("fuel")
    .ui-li-aside= car.fuel.name

- if car.last_refueling
  %li
    = Car.human_attribute_name("last_refueling")
    .ui-li-aside= refueling_ago_in_words(car.last_refueling)