= form_for @car do |f|
  -if @car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car.errors.count, "error")} prohibited this car from being saved:"
      %ul
        - @car.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :brand
    = f.text_field :brand
  .field
    = f.label :car_model
    = f.text_field :car_model
  .actions
    = f.submit 'Save'
