= form_for car, :validations => true do |f|
  = render "shared/error_messages", :target => car
  = f.text_field :brand, :placeholder => Car.human_attribute_name("brand")
  = f.text_field :car_model, :placeholder => Car.human_attribute_name("model")
  = f.collection_select :fuel_id, fuels, :id, :name, {:prompt => t(:'.fuel_prompt')}
  = f.submit t('buttons.save')