%div{ :'data-role' => "collapsible-set" }
  %div{ :'data-role' => "collapsible" }
    %h1= t(:'cars.show.total')
    %ul{ :'data-role' => "listview", :'data-inset' => "true" }
      %li
        = "#{t(:'cars.show.since', :date => l(car.first_refueling.date, :format => :traditional))}"
        .ui-li-aside= " (#{refueling_ago_in_words(car.first_refueling)})"

      %li.numbers= "#{car.refuelings.count} x"
      %li.numbers= number_to_currency(car.refuelings.sum(:amount))
      %li.numbers= "#{number_with_delimiter(car.total_mileage)} #{car.mileage.unit}"
      %li.numbers= "#{number_with_delimiter(car.total_liter)} #{volume_unit}"

  %div{ :'data-role' => "collapsible", :'data-collapsed' => "true" }
    %h1
      = t(:'cars.show.per_day')
    %ul{ :'data-role' => "listview", :'data-inset' => "true" }
      %li.numbers= number_to_currency(car.amount_per_day)
      %li.numbers= "#{number_with_delimiter(car.mileage_per_day)} #{car.mileage.unit}"
      %li.numbers= "#{number_with_delimiter(car.liter_per_day)} #{volume_unit}"

  %div{ :'data-role' => "collapsible", :'data-collapsed' => "true" }
    %h1
      = t(:'cars.show.per_month')
    %ul{ :'data-role' => "listview", :'data-inset' => "true" }
      %li.numbers= number_to_currency(car.amount_per_month)
      %li.numbers= "#{number_with_delimiter(car.mileage_per_month)} #{car.mileage.unit}"
      %li.numbers= "#{number_with_delimiter(car.liter_per_month)} #{volume_unit}"

  %div{ :'data-role' => "collapsible", :'data-collapsed' => "true" }
    %h1
      = t(:'cars.show.per_year')
    %ul{ :'data-role' => "listview", :'data-inset' => "true" }
      %li.numbers= number_to_currency(car.amount_per_year)
      %li.numbers= "#{number_with_delimiter(car.mileage_per_year.to_i)} #{car.mileage.unit}"
      %li.numbers= "#{number_with_delimiter(car.liter_per_year.to_i)} #{volume_unit}"