= jqm_header do
  %h1= t(:'.title')
  = link_to t(:'.new_car'), new_car_path, :'data-icon' => "plus", :class => "ui-btn-right", :'data-iconpos' => "notext"

= jqm_content do
  %ul{ :'data-role' => "listview" }
    = render @cars

%div{ :'data-role' => 'footer', :'data-position' => "fixed" }
  %div{ :'data-role' => 'navbar' }
    %ul
      %li= link_to('Refueling', new_refueling_path, :'data-ajax' => false)
      %li= link_to('Cars', cars_path, :class => "ui-btn-active", :'data-ajax' => false)
      %li= link_to('My Info', edit_user_registration_path, :'data-ajax' => false)